<div class="container mt-5 bg-success">
  <div class="d-flex justify-content-center">
    <h1 class="text-light">Portfolio</h1>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="card p-3">
              <div class="d-flex flex-row mb-3">
                  <div class="d-flex flex-column ml-2"><span></span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h2>Web Designer using Angular framework </h2>
              <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary"><i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card p-3">
            <div class="d-flex flex-row mb-3">
                <div class="d-flex flex-column ml-2"><span></span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
            </div>
            <h2>Web Designer using Angular framework </h2>
            <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary"><i class="fa fa-angle-right"></i></span></div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3">
          <div class="d-flex flex-row mb-3">
              <div class="d-flex flex-column ml-2"><span></span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
          </div>
          <h2>Web Designer using Angular framework </h2>
          <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary"><i class="fa fa-angle-right"></i></span></div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3">
        <div class="d-flex flex-row mb-3">
            <div class="d-flex flex-column ml-2"><span></span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
        </div>
        <h2>Web Developer using next.js framework </h2>
        <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary"><i class="fa fa-angle-right"></i></span></div>
    </div>
</div>
<div class="col-md-4">
  <div class="card p-3">
      <div class="d-flex flex-row mb-3">
          <div class="d-flex flex-column ml-2"><span></span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
      </div>
      <h2>Web Developer using next.js framework </h2>
      <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary"><i class="fa fa-angle-right"></i></span></div>
  </div>
</div>
<div class="col-md-4">
  <div class="card p-3">
      <div class="d-flex flex-row mb-3">
          <div class="d-flex flex-column ml-2"><span></span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
      </div>
      <h2>Web Developer using next.js framework </h2>
      <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary"><i class="fa fa-angle-right"></i></span></div>
  </div>
</div>
  </div>
</div>
